* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
}

.boxbutton {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 900px;
    height: 50px;
}

.button {
    font-size: small;
    display: inline-block;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    padding: 5px 12px;
    box-sizing: border-box;
}

.boxlista {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 600px;
    width: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}


.categoria {
    color: #ffffff;
    font-size: x-small;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 12px;
}

.greencircle {
    border-style: solid;
    color: #73c7b3;
    border-color: #73c7b3;
    border-radius: 50%;
    padding: 3px 5px;
}

.redcircle {
    border-style: solid;
    color: red;
    border-color: red;
    border-radius: 50%;
    padding: 3px 5px;
}

#task {
    color: #ffffff;
    border: solid #45abea;
    background-color: #45abea;
    margin-left: 50px;
}

#selection {
    color: #c7ccd1;
    border-style: solid;
    margin-left: 5px;
}

#editorial {
    background-color: #45abea;
}

#goals {
    background-color: #9c72e4;
}

#recruiting {
    background-color: #64c0a9;
}

#mobile {
    background-color: #f29e33;
}

#website {
    background-color: #d863a1;
}

#sales {
    background-color: #b0c926;
}