* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
}

#rigainizio {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 900px;
    height: 50px;
}

#lista {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 900px;
    width: 900px;
}

#task {
    color: #ffffff;
    font-size: small;
    display: inline-block;
    border-radius: 2px;
    background-color: cornflowerblue;
    margin-left: 50px;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
}

#selection {
    box-sizing: border-box;
    color: #c7ccd1;
    font-size: small;
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    padding: 5px;
}